<div class="hero-unit">
	<h1>伝播投資貨幣PICSY</h1>
	<p>鈴木健『なめらかな社会とその敵』（勁草書房、2013年）を参考に作成した、伝播投資貨幣PICSYのシステムです。利用者は市場と参加者を設定して、取引のシミュレーションやワークショップ等に利用することができます。</p>
	<p><%= link_to raw('市場をつくる &raquo;'),
							new_market_path,
							:class => 'btn btn-primary btn-large' %></p>
</div>

