<h1>Home#index</h1>
  <% if user_signed_in? %>
    ようこそ <%= current_user.name %> さん
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'ログアウト', sign_out_path, :class => "btn btn-primary" %>
  <% else %>
    <%= link_to "Twitter IDでログイン", user_omniauth_authorize_path(:twitter), :class => "btn btn-primary" %>
  <% end %>
</ul>

