<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert alert-<%= flash_class(level) %>" data-dismiss="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= content_tag :p, flash[level] %>
    </div>
  <% end %>
<% end %>
